{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
