/**
 * Project specific styling.
 */

.hero {
  h1 {
    font-size: 3.5em;
  }

  p.lead {
    font-size: 1.85em;
  }
}

.container-xxl {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 1500px;

  @media (min-width: 1500px) {
    padding: 0;
  }
}

.bottom-space {
  margin-bottom: 2em;
}

footer {
  margin-bottom: 3em;
}

figcaption {
  font-size: 0.75em;
}

figure {
  margin-bottom: 2em;
}

.map-embed {
  height: 600px;
  height: 90vh;
}

.map-highlight {
  width: 100%;
  height: 600px;
  height: 80vh;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
}

.container-xxl .map-highlight {
  height: 80vh;
  position: relative;

  @include media-breakpoint-up("md") {
    height: 90vh;
  }
}

// Popover
.popover {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 9999;
  display: none;
  padding: 2.5em 1em 1em;
  border-top: 1px solid map-get($grays, "medium");
  border-right: none;
  background-color: map-get($grays, "lightest");
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up("md") {
    top: 1em;
    right: auto;
    bottom: auto;
    left: 1em;
    max-width: 50%;
    width: 35em;
    border: 1px solid map-get($grays, "medium");
    border-radius: 4px;
    background-color: $color-white;
  }

  .popover-content {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.15em;
    padding: 0.5em;
  }

  &.active {
    display: block;
  }

  .popover-close {
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .no-incidents {
    font-style: italic;
    margin-bottom: 2em;
  }

  .median-response,
  .incident-count {
    margin-bottom: 1em;

    .median-response-value,
    .incident-count-value {
      font-size: 2em;
      display: block;
    }
  }

  .hex-histogram {
    .histogram-bar {
      fill: map-get($grays, "medium");
    }

    .median-line {
      stroke: map-get($grays, "dark");
      stroke-width: 1;
    }

    .median-label {
      font-size: 0.75em;
      dominant-baseline: hanging;
    }
  }

  .hex-histogram,
  .median-times,
  .frequent-incident {
    display: none;

    @include media-breakpoint-up("md") {
      display: block;
    }
  }
}

// Address search
label[for="address-search"] {
  font-weight: bold;
}

.address-search {
  z-index: 10;

  .mapboxgl-ctrl-geocoder {
    font-size: 1.25em;
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: none;
    max-width: none;

    input:not([type="submit"]) {
      width: 100%;
      display: block;
      padding: 0.5em 2em;
      height: auto;
    }

    button {
      border-radius: 0;
      background-color: inherit;
      outline: 0 !important;
      padding: 0;

      &:hover {
        background-color: #cdcdcd;
      }
    }

    .geocoder-icon {
      top: 0.63em;
    }

    ul {
      z-index: 10;
      margin: 0;
      padding: 0;
      font-size: 0.85em;

      a {
        text-decoration: none;
        padding: 0.25em 0.5em;
      }
    }
  }
}

// Legend
.legend {
  margin-bottom: 2em;

  .legend-title {
    margin-bottom: 0.5em;
  }

  .legend-item {
    font-size: 0.85em;
    float: left;
    margin: 0 1em 0.5em 0;
    max-width: 50%;
  }

  .legend-swatch {
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }

  .legend-label {
    vertical-align: middle;
    display: inline-block;
  }

  .low-incidents {
    background-color: #878787;
    //outline: 1px solid $color-text;
  }

  .no-incidents {
    background-color: #fcfcfc;
    outline: 1px solid $color-text;
  }

  .low-incidents-pattern {
    height: 1.5em;
    width: 1.5em;
    background: #878787 url("../assets/images/patterns/white-stripes-64.png")
      top left repeat;
  }
}

// Map toggle
.map-toggle {
  text-align: center;
  border-bottom: 1px solid map-get($grays, "lighter");
  padding-bottom: 1em;

  span {
    display: inline-block;
    margin-right: 0.5em;
  }

  button {
    background-color: map-get($grays, "light");
    color: $color-text;
    font-size: 0.85em;

    &:focus {
      box-shadow: none;
    }

    &.active {
      color: $color-white;
      background-color: map-get($grays, "dark");
      border: 2px solid darken(map-get($grays, "dark"), 20);
    }
  }
}

// Some overrides for MapboxGL
.mapboxgl-map {
  @include font-styles("benton-sans");
}

.mapboxgl-ctrl-top-right {
  text-align: right;

  .mapboxgl-ctrl-group {
    display: inline-block;
    float: none;
  }

  & > .mapboxgl-ctrl {
    float: none;
  }

  .mapboxgl-ctrl button,
  .mapboxgl-ctrl-group button {
    border-radius: 0;
    background-color: inherit;
    outline: 0 !important;
    padding: 0;

    &:hover {
      background-color: #cdcdcd;
    }
  }

  a.mapboxgl-ctrl-logo:empty {
    outline: 0 !important;
  }

  // Leaflet overrides for consistency
  .leaflet-bar a {
    background-color: #ffffff;
    border-radius: 0;
  }

  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    input {
      font-size: 12px;
      width: 100%;
      border: 0;
      background-color: transparent;
      height: 40px;
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
      padding: 10px 10px 10px 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .mapboxgl-ctrl-geocoder ul {
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
    }
  }
}
