{#if geocoder && geocoder !== 'inline'}
  <div class="container-copy bottom-space">
    <label for="address-search">Search an address or place in Minneapolis</label>
    <div class="address-search" id="address-search" ref:geocoderContainer></div>
  </div>
{/if}

{#if legend}
  <div class="container-copy bottom-space">
    <div class="legend cf">
      <div class="label legend-title">{ legendTitle }</div>

      {#each fullColorSteps as step, si}
        <div class="legend-item">
          <div class="legend-swatch" style="background-color: { colorScale(step) };"></div>
          <div class="legend-label">{@html
            legendFormat ? legendFormat(step, si, fullColorSteps) : step
          }</div>
        </div>
      {/each}

      {#if extraLegendSteps}
        {#each extraLegendSteps as step, si}
          <div class="legend-item">
            <div class="legend-swatch { step.class }">
            </div>

            <div class="legend-label">{ step.label }</div>
          </div>
        {/each}
      {/if}
    </div>
  </div>
{/if}

<div class="container-xxl">
  <figure class="needsclick map-figure { !mapboxSupported ? 'mapbox-no-support' : '' }">
    {#if mapboxSupported}
      <div class="needsclick map-highlight" id="{ id || '' }" ref:mapEl style="{ fallbackImage ? `background-image: url(${fallbackImage});` : '' }">
        {#if popoverComponent}
          <svelte:component
            this={ popoverComponent }
            feature="{ feature }"
            colorScale="{ colorScale }"
            bind:popoverOpen="popoverOpen"
          />
        {/if}
      </div>
    {:else}
      <div class="map-fallback">
        <img src="{ fallbackImage }" alt="{ caption || ''}" />
      </div>
    {/if}

    <figcaption>
      { caption || '' }
    </figcaption>
  </figure>
</div>

<script>
  import { scaleThreshold } from "d3-scale";
  import { flatten, extend, forEach } from "lodash";

  export default {
    oncreate() {
      let { mapboxSupported } = this.get();

      // Check if mapbox works
      if (
        !mapboxSupported ||
        !mapboxgl ||
        !mapboxgl.supported ||
        !mapboxgl.supported()
      ) {
        this.set({ mapboxSupported: false });
      } else {
        // Put together map
        this.drawMap();
      }
    },

    onupdate({ changed, current, previous }) {
      // If paint property changes
      if (
        this.__map &&
        changed.hexBaseStyles &&
        current.hexBaseStyles &&
        current.mapInitialized
      ) {
        this.paintBaseStyles();
      }
    },

    ondestroy() {
      if (this.__map && this.__map.remove) {
        this.__map.remove();
      }
    },

    onstate({ changed, current, previous }) {
      // If popover closes outside here
      if (
        changed.popoverOpen &&
        current.popoverOpen === false &&
        current.mapInitialized
      ) {
        this.popoverClose();
      }
    },

    methods: {
      drawMap() {
        this.__map = new mapboxgl.Map({
          container: this.refs.mapEl,
          style: this.get().mapStyleId,
          attributionControl: false,
          scrollZoom: false,
          minZoom: this.get().minZoom,
          maxZoom: this.get().maxZoom,
          center: this.get().initialCenter,
          zoom: this.get().initialZoom
        });
        let map = this.__map;

        // Center
        if (this.get().initialBounds) {
          map.fitBounds(this.get().initialBounds);
        }

        // Add controls
        map.addControl(new mapboxgl.NavigationControl());

        // Allow scroll zoom on full screen
        let fullscreenControl = new mapboxgl.FullscreenControl();
        map.addControl(fullscreenControl);
        window.document.addEventListener(
          fullscreenControl._fullscreenchange,
          () => {
            if (fullscreenControl._fullscreen) {
              map.scrollZoom.enable();
            } else {
              map.scrollZoom.disable();
            }
          }
        );

        // Geocode
        this.addGeocoder();

        // On map load
        map.on("load", () => {
          this.hexbins();
          this.pois();
          this.popover();

          // Fastclick hack/fix
          // https://github.com/mapbox/mapbox-gl-js/issues/2035
          $(this.__map.getCanvas()).addClass("needsclick");

          this.set({ mapInitialized: true });
        });
      },

      // Update paint layers
      paintBaseStyles() {
        let map = this.__map;
        let { hexBaseStyles } = this.get();
        if (!map || !hexBaseStyles) {
          return;
        }

        // Unsure why we can't do this at once
        let styles = hexBaseStyles(this.get());
        forEach(styles, (v, k) => {
          map.setPaintProperty("hex-bin-data", k, v);
        });
      },

      // Add geocoder
      addGeocoder() {
        let map = this.__map;
        let { initialBounds } = this.get();
        if (!this.get().geocoder || !map) {
          return;
        }

        // Geocoding control
        let geocoder = new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          country: "us",
          bbox: initialBounds
            ? [
                initialBounds[0][0],
                initialBounds[0][1],
                initialBounds[1][0],
                initialBounds[1][1]
              ]
            : undefined,
          flyTo: false
        });
        geocoder.on("error", console.error);

        // Handle result
        geocoder.on("result", ({ result }) => {
          this.popoverClose();

          // queryRenderedFeatures only looks at current view port so we have to do
          // some stupid ness
          map.flyTo(
            {
              center: result.center,
              zoom: 13
            },
            {
              source: "geocode-hack"
            }
          );
          map.once("moveend", e => {
            if (!e || !e.source === "geocode-hack") {
              return;
            }

            // Open popover
            this.popoverOpen(map.project(result.center));
          });
        });

        // Add input/control
        if (this.get().geocoder !== "inline" && this.refs.geocoderContainer) {
          this.refs.geocoderContainer.appendChild(geocoder.onAdd(map));
        } else {
          map.addControl(geocoder);
        }
      },

      // Draw and handle hexbins
      hexbins() {
        if (!this.get().hexbins) {
          return;
        }
        let map = this.__map;

        // Get key layer ids
        let {
          firstLineId,
          firstSymbolId,
          waterLayers,
          moveWaterLayers
        } = this.mapKeyLayers();

        // Add hex data
        map.addSource("hex-bin-data", {
          type: "geojson",
          data: this.get().hexbins
        });

        // Style hexes
        map.addLayer(
          {
            id: "hex-bin-data",
            type: "fill",
            source: "hex-bin-data",
            paint: this.get().hexBaseStyles(this.get())
          },
          "road-primary"
        );

        // Make road lines a bit see-through
        let layers = map.getStyle().layers;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === "line") {
            map.setPaintProperty(layers[i].id, "line-opacity", 0.6);
          }
        }

        // On different zoom levels, change
        // TODO: Keep track and only do this on specific zoom change
        map.on("zoomend", () => {
          let z = map.getZoom();
          if (z < 11.5) {
            map.moveLayer("hex-bin-data", "road-primary");
            moveWaterLayers("road-primary");
          } else if (z < 13) {
            map.moveLayer("hex-bin-data", "road-secondary-tertiary");
            moveWaterLayers("road-secondary-tertiary");
          } else if (z >= 13) {
            map.moveLayer("hex-bin-data", firstLineId);
            moveWaterLayers(firstLineId);
          }

          // Road line opacity
          for (let i = 0; i < layers.length; i++) {
            if (layers[i].type === "line") {
              map.setPaintProperty(
                layers[i].id,
                "line-opacity",
                z < 13 ? 0.6 : 1
              );
            }
          }
        });
        map.fire("zoomend");
      },

      // Get some key layers
      mapKeyLayers() {
        let map = this.__map;
        if (this.__mapKeyLayers) {
          return this.__mapKeyLayers;
        }

        // https://www.mapbox.com/mapbox-gl-js/example/geojson-layer-in-stack/
        let layers = map.getStyle().layers;

        // Find the index of the first line layer in the map style
        let firstLineId;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === "line" && !layers[i].id.match(/water/)) {
            firstLineId = layers[i].id;
            break;
          }
        }

        // Find the index of the first symbol layer in the map style
        let firstSymbolId;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === "symbol" && !layers[i].id.match(/water/)) {
            firstSymbolId = layers[i].id;
            break;
          }
        }

        // Find water layers
        let waterLayers = [];
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].id.match(/water/) && layers[i].type !== "symbol") {
            waterLayers.push(layers[i].id);
          }
        }
        let moveWaterLayers = layerId => {
          waterLayers.forEach(w => {
            map.moveLayer(w, layerId);
          });
        };

        this.__mapKeyLayers = {
          firstLineId,
          firstSymbolId,
          waterLayers,
          moveWaterLayers
        };
        return this.__mapKeyLayers;
      },

      // Draw pois
      pois() {
        let map = this.__map;
        let { pois } = this.get();
        let symbolTextMinZoom = 12;
        if (!pois) {
          return;
        }

        let { firstSymbolId } = this.mapKeyLayers();
        pois.forEach(p => {
          // Data
          map.addSource(p.id, {
            type: "geojson",
            data: p.data
          });

          // Point
          map.addLayer(
            {
              id: `${p.id}-point`,
              type: "circle",
              source: p.id,
              paint: {
                "circle-radius": [
                  "interpolate",
                  ["linear"],
                  ["zoom"],
                  10,
                  4,
                  18,
                  9
                ],
                "circle-opacity": 1,
                "circle-color": "#222222"
              }
            },
            firstSymbolId
          );

          // Label
          map.addLayer({
            id: `${p.id}-label`,
            type: "symbol",
            source: p.id,
            minzoom: symbolTextMinZoom,
            layout: extend(
              {
                "text-field": "Station",
                "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                "text-offset": [0, 0.6],
                "text-anchor": "top",
                "text-size": {
                  stops: [
                    [0, 0],
                    [symbolTextMinZoom, 10],
                    [symbolTextMinZoom + 2, 12]
                  ]
                }
              },
              {
                "text-field": p.textField
              }
            ),
            paint: {
              "text-halo-color": "rgba(255, 255, 255, 0.8)",
              "text-halo-width": 1,
              "text-halo-blur": 0.5
            }
          });
        });
      },

      // Close popover / unhighlight
      popoverClose() {
        if (this.__map) {
          this.__map.setFilter("hex-bin-data-highlight", ["==", "hex_id", ""]);
        }

        this.set({ popoverOpen: false, highlight: undefined });
      },

      // Open popover from point
      popoverOpen(point) {
        let map = this.__map;
        if (!map) {
          return;
        }

        // Unsure why, but click doesn't already try to find features
        let features = map.queryRenderedFeatures([point.x, point.y], {
          layers: ["hex-bin-data"]
        });

        // Unhilight and close
        if (!features || !features.length) {
          this.popoverClose();
          return;
        }

        // Highlight and open
        map.setFilter("hex-bin-data-highlight", [
          "==",
          "hex_id",
          features[0].properties.hex_id
        ]);

        this.set({ popoverOpen: true, feature: features[0].properties });
      },

      // Popover
      popover() {
        let map = this.__map;
        if (!this.get().popoverComponent) {
          return;
        }

        let { firstSymbolId } = this.mapKeyLayers();

        // Highlight layer (outline width is not supported in polygon layer)
        map.addLayer(
          {
            id: "hex-bin-data-highlight",
            type: "line",
            source: "hex-bin-data",
            paint: {
              "line-width": 4,
              "line-color": "#222222"
            },
            filter: ["==", "hex_id", ""]
          },
          firstSymbolId
        );

        // Handle click
        map.on("click", "hex-bin-data", e => {
          if (!e || !e.point) {
            this.popoverClose();
            return;
          }

          this.popoverOpen(e.point);
        });

        // Mouseover events
        map.on("mouseenter", "hex-bin-data", () => {
          map.getCanvas().style.cursor = "pointer";
        });
        map.on("mouseleave", "hex-bin-data", () => {
          map.getCanvas().style.cursor = "";
        });
      }
    },

    computed: {
      colorScale({ colorSteps, colors }) {
        return scaleThreshold()
          .domain(colorSteps)
          .range(colors);
      },

      fullColorSteps({ colorSteps }) {
        return [0].concat(colorSteps);
      },

      state: state => state
    },

    helpers: {},

    data() {
      return {
        mapboxSupported: true,
        popoverOpen: false,
        mapStyleId: "mapbox://styles/shadowflare/cjfljh7oh6v6k2smuvb3jftac",
        geocoder: false,
        minZoom: 10,
        maxZoom: 15,
        initialZoom: 11,
        colorSteps: [0, 1],
        colors: [
          "#ffffcc",
          "#c7e9b4",
          "#7fcdbb",
          "#41b6c4",
          "#2c7fb8",
          "#253494"
        ],
        hexBaseStyles: ({ colorScale, colorSteps }) => {
          return {
            "fill-color": "#555555",
            "fill-opacity": 1
          };
        }
      };
    }
  };
</script>
