
<div class="popover popover-incidents { popoverOpen ? 'active' : '' }">
  <button type="button" class="button-link dark popover-close" on:click="closePopover(event)">x</button>
  <div class="popover-content">
    {#if !feature}
      <em>Select feature</em>
    {:elseif !feature || !feature.incidents}
      <div class="no-incidents">There were no incidents in this area in 2017.</div>
    {:else}
      <div class="incident-count">
        <span class="incident-count-value">
          { feature.incidents.toLocaleString() }
          { feature.incidents > 1 ? 'incidents' : 'incident' }
        </span>

        <span class="incident-count-label">
          The median response time was <strong>{ secondsToMinutes(feature.median_response_time) }</strong> for high priority incidents in 2017.
        </span>
      </div>

      <div class="median-times">
        <hr>
        Median call time: {
          feature.median_call_time && !isNaN(feature.median_call_time)
            ? secondsToMinutes(feature.median_call_time)
            : '-'
        }
        <br>

        Median drive time: {
          feature.median_drive_time && !isNaN(feature.median_drive_time)
            ? secondsToMinutes(feature.median_drive_time)
            : '-'
        }
        <br>

        Median to-queue time: {
          feature.median_to_queue_time && !isNaN(feature.median_to_queue_time)
            ? secondsToMinutes(feature.median_to_queue_time)
            : '-'
        }
        <br>

        Median in-queue time: {
          feature.median_in_queue_time && !isNaN(feature.median_in_queue_time)
            ? secondsToMinutes(feature.median_in_queue_time)
            : '-'
        }
        <br>
      </div>

      {#if feature.most_frequent_incident && feature.most_frequent_incident_count && feature.most_frequent_incident_count > 1}
        <div class="frequent-incident">
          <hr>
          Most frequent, high-priority incident
          ({ feature.most_frequent_incident_count.toLocaleString() } times):
          <br>
          { feature.most_frequent_incident ? feature.most_frequent_incident : '-' }
        </div>
      {/if}
    {/if}
  </div>
</div>

<script>
  import { isNaN, forEach, sortBy, maxBy } from "lodash";

  export default {
    methods: {
      closePopover(event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        this.set({ popoverOpen: false });
      }
    },

    helpers: {
      isNaN,

      secondsToMinutes(seconds, minuteSuffix = "m", secondSuffix = "s") {
        return (
          `${Math.floor(seconds / 60) || 0}${minuteSuffix}` +
          (seconds % 60 ? ` ${Math.round(seconds % 60)}${secondSuffix}` : "")
        );
      }
    }
  };
</script>
