
<div class="strib-styles ssa ssb ssc">
  <section class="">
    <div class="hero container-lg">
      <h1>911 response times in the Twin Cities</h1>

      <p class="lead container-md">How fast can they get there.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://startribune.com/alan-palazzolo/440928273/">Alan Palazzolo</a>
          and
          <a rel="author" href="http://startribune.com/eric-roper/62906482/">Eric Roper</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-10-14T16:00:00">October 14, 2018</time>
      </div>

      <div class="share-placeholder">
        <!-- share -->
      </div>
    </div>

    <div class="container-copy bottom-space">
      <p>Minneapolis planners have proposed upzoning the city to allow for triplexes in all neighborhoods, even those now reserved for single-family homes, and four-to-six story buildings along some transit corridors. The plan offers guidance on how to keep Minneapolis affordable, environmentally friendly and racially equitable as the population grows over the next two decades.</p>

      <p>Since its release this spring, it has sparked a vigorous debate on whether the proposed changes will adequately accomplish this ambitious vision for the future, or if such rapid change all at once will invite developers to destroy the city’s characters in the name of profitable multi-unit housing. As the City Council prepares to hear public testimony on the proposal, the searchable map below allows you to explore what might change. </p>
    </div>

    <div class="container-copy bottom-space">
      <label for="address-search">Search an address or place in Minneapolis</label>
      <div class="address-search" id="address-search"></div>
    </div>

    <div class="container-copy bottom-space">
    </div>

    <div class="container-xxl">
      <figure class="map-figure">
        <div class="map-highlight" id="explorable-map"></div>

        <figcaption>
          <p>The map above shows ...</p>
        </figcaption>
      </figure>
    </div>
  </section>
</div>



