
<div class="strib-styles ssa ssb ssc">
  <section class="">
    <div class="hero container-lg">
      <h1>Response times tk tk tk</h1>

      <p class="lead container-md">Lead-in paragraph tk tk.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://startribune.com/eric-roper/62906482/">Eric Roper</a>
          and
          <a rel="author" href="http://startribune.com/alan-palazzolo/440928273/">Alan Palazzolo</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-03-10T00:00:00">March 10, 2019</time>
      </div>

      <div class="share-placeholder">
        <!-- This will get replaced with share buttons -->
        <!-- share -->
      </div>
    </div>

    <div class="container-copy bottom-space">
      <p>TK: Praesent dapibus eros mi, eget mattis felis pharetra in. Ut lobortis arcu suscipit volutpat dapibus. Vivamus nec pretium augue. Vestibulum quis auctor neque. Vivamus rhoncus, metus ut varius consectetur, quam quam sollicitudin sapien, ac ornare dolor sem mattis orci. Morbi finibus imperdiet orci nec vehicula. Aenean a risus velit. Aenean ultrices lacus et aliquet auctor. Maecenas dictum porta bibendum. Curabitur vel dignissim massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>

    <HexMap
      id="police-response-times-map"
      caption="The map above shows the median response times for high-priorty 911 calls for the Minneapolis and St. Paul police departments in the Twin Cities as divided by quarter-mile hexagons."
      hexbins="{ policeResponseTimeHexes }"
      pois="{ pois }"
      initialCenter="{ twinCitiesCenter }"
      initialBounds="{ [[policeResponseTimeBBox[0], policeResponseTimeBBox[1]], [policeResponseTimeBBox[2], policeResponseTimeBBox[3]]] }"
      colorSteps="{ [60 * 6, 60 * 7.5, 60 * 9, 60 * 10.5, 60 * 12] }"
      geocoder="{ true }"
      legend="{ true }"
      legendTitle="Median 911 response times across the Twin Cities"
      extraLegendSteps="{ [
        { class: 'low-incidents', label: 'Less than 10 incidents' },
        { class: 'no-incidents', label: 'No incidents' }
      ] }"
      popoverComponent="{ ResponseTimePopover }"
    />

    <div class="container-copy bottom-space">
      <p>TK: Praesent dapibus eros mi, eget mattis felis pharetra in. Ut lobortis arcu suscipit volutpat dapibus. Vivamus nec pretium augue. Vestibulum quis auctor neque. Vivamus rhoncus, metus ut varius consectetur, quam quam sollicitudin sapien, ac ornare dolor sem mattis orci. Morbi finibus imperdiet orci nec vehicula. Aenean a risus velit. Aenean ultrices lacus et aliquet auctor. Maecenas dictum porta bibendum. Curabitur vel dignissim massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      <Chart
        title="Response time spikes at 6AM shift change"
        type="step-line"
        padding="{{ top: 10, right: 20, bottom: 25, left: 30 }}"
        data="{ mpdHourData }"
        xMin="{ 0 }"
        xMax="{ 23 }"
        xTickFormat="{ (d) => d === 0 ? '' : d === 12 ? '12pm' : d < 12 ? `${d}am` : `${d - 12}pm` }"
        yMin="{ 0 }"
        yMax="{ 20 }"
        yTickFormat="{ (d, i, len) => i === 0 || i === len - 1 ? '' : d }"
        yLabel="Median response time (minutes)"
      >Median response time by the Minneapolis Police Department by hour for the year of 2017.</Chart>
    </div>

    <div class="container-copy bottom-space">
      <p>TK: Praesent dapibus eros mi, eget mattis felis pharetra in. Ut lobortis arcu suscipit volutpat dapibus. Vivamus nec pretium augue. Vestibulum quis auctor neque. Vivamus rhoncus, metus ut varius consectetur, quam quam sollicitudin sapien, ac ornare dolor sem mattis orci. Morbi finibus imperdiet orci nec vehicula. Aenean a risus velit. Aenean ultrices lacus et aliquet auctor. Maecenas dictum porta bibendum. Curabitur vel dignissim massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      <Chart
        title="Neighborhoods... "
        type="scatterplot"
        padding="{{ top: 10, right: 20, bottom: 45, left: 30 }}"
        data="{ mpdNeighborhoodData.filter(d => d.y && d.y > 0) }"
        xMin="{ 5 }"
        xMax="{ 14 }"
        xTickFormat="{ (d, i) => d === 0 ? '' : d }"
        xLabel="Median response time (minutes)"
        yMin="{ 0 }"
        yMax="{ 5500 }"
        yTickFormat="{ (d, i, len) => i === 0 || i === len - 1 ? '' : d }"
        yLabel="Number of incidents"
      >Median response time and number of incidents plotted for each neighborhood in Minneapolis for high priority calls.</Chart>
    </div>

    <div class="container-copy bottom-space">
      <p>TK: Praesent dapibus eros mi, eget mattis felis pharetra in. Ut lobortis arcu suscipit volutpat dapibus. Vivamus nec pretium augue. Vestibulum quis auctor neque. Vivamus rhoncus, metus ut varius consectetur, quam quam sollicitudin sapien, ac ornare dolor sem mattis orci. Morbi finibus imperdiet orci nec vehicula. Aenean a risus velit. Aenean ultrices lacus et aliquet auctor. Maecenas dictum porta bibendum. Curabitur vel dignissim massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>

    <HexMap
      id="police-incidents-map"
      caption="The map above shows the number of incidents for high priorty 911 calls in 2017 for the police in Minneapolis and St. Paul."
      hexbins="{ policeResponseTimeHexes }"
      pois="{ pois }"
      initialCenter="{ twinCitiesCenter }"
      initialBounds="{ [[policeResponseTimeBBox[0], policeResponseTimeBBox[1]], [policeResponseTimeBBox[2], policeResponseTimeBBox[3]]] }"
      colorSteps="{ [10, 50, 100, 250, 500] }"
      colors="{ ['#ffffd4', '#fee391', '#fec44f', '#fe9929', '#d95f0e', '#993404'] }"
      geocoder="{ false }"
      legend="{ true }"
      legendTitle="Number of incidents"
      extraLegendSteps="{ [
        { class: 'no-incidents', label: 'No incidents' }
      ] }"
      hexBaseStyles="{ ({ colorScale, colorSteps }) => {
        return {
          "fill-color": [
            "case",
            ["<", ["get", "incidents"], 1],
            "#FCFCFC",
            ["==", ["get", "incidents"], null],
            "#FCFCFC",
            ["step", ["get", "incidents"]]
              .concat([colorScale(0)])
              .concat(
                flatten(
                  colorSteps.map(s => {
                    return [s, colorScale(s)];
                  })
                )
              )
          ],
          "fill-opacity": 1
        };
      } }"
      legendFormat="{ (step, si, fullColorSteps) => {
        return si === 0 ? `<${fullColorSteps[si + 1]}` : `${step.toLocaleString()}${si === 1 || si === fullColorSteps.length - 1 ? '+' : ''}`;
      } }"
      popoverComponent="{ IncidentsPopover }"
    />

    <div class="container-copy">
      <footer class="article-footer">
        <h1>Credits</h1>

        <ul class="credits">
          <li>Edited by James Schiffer</li>
          <li>Data analysis by Eric Roper and Alan Palazzolo</li>
          <li>Design and development by Alan Palazzolo</li>
        </ul>

        <h1>Methodology</h1>

        <p>Dispatch data provided by each relevant dispatch organization.</p>

        <p>The Star Tribune analyzed dispatch data that provided relevant priority fields.  High priority is overall defined as Priority 1 or more (though in St. Paul, this was Priority 2 and more).  Response data was calculated as the time between First Keystroke (or Call Pickup, if keystroke data was not provided) to First Unit Arrived.  The analysis excluded any data that was marked as officer-initiated or the time data suggested that the incident was officer-initiated, as well as any data that did not have the necessary time data to caluclate response time.  </p>
      </footer>
    </div>
  </section>
</div>


<script>
  import Chart from "./shared/charts/_chart.svelte.html";
  import HexMap from "./shared/maps/_hexbin-map.svelte.html";
  import ResponseTimePopover from "./shared/maps/_response-time-popover.svelte.html";
  import IncidentsPopover from "./shared/maps/_incidents-popover.svelte.html";
  import { flatten, maxBy } from "lodash";

  // Data
  import { feature } from "topojson";
  import mpdHourData from "../sources/mpd-response-times-by-hour.json";
  import mpdNeighborhoodData from "../sources/mpd-response-times-by-neighborhood.json";
  import policeResponseTimesTopo from "../sources/hexbin-analysis-police.topo.json";
  import mplsPoliceStations from "../sources/mpls-police-stations.geo.json";
  import spPoliceStations from "../sources/sp-police-stations.geo.json";

  export default {
    components: {
      Chart,
      HexMap
    },

    oncreate() {
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    },

    helpers: {
      flatten,
      maxBy
    },

    data() {
      return {
        twinCitiesBounds: [
          [-93.3487129795, 44.8787481227],
          [-92.9895973789, 45.0618881395]
        ],
        twinCitiesCenter: [-93.191872, 44.960911],
        mpdNeighborhoodData: mpdNeighborhoodData.map(d => {
          return {
            x: d.median_response_time,
            y: d.incidents
          };
        }),
        mpdHourData: mpdHourData.map(d => {
          return {
            x: d.incident_hour,
            y: d.median_response_time
          };
        }),
        policeResponseTimeHexes: feature(
          policeResponseTimesTopo,
          policeResponseTimesTopo.objects["hexbin-analysis-police.geo"]
        ),
        policeResponseTimeBBox: policeResponseTimesTopo.bbox,
        pois: [
          {
            id: "mpd-stations",
            data: mplsPoliceStations,
            textField: "Mpls Police {BUILDING_N}"
          },
          {
            id: "spd-stations",
            data: spPoliceStations,
            textField: " St. Paul Police {name}"
          }
        ],
        ResponseTimePopover,
        IncidentsPopover
      };
    }
  };
</script>



