<nav class="nav-strib-site">
  <div class="container-lg cf">
    <ul class="section-center">
      <li>
        <a href="http://startribune.com/" class="logo">
          <svg class="strib-icon-svg">
            <use xlink:href="#strib-strib-logo"></use>
          </svg>

          <span class="sr-only">Star Tribune home</span>
        </a>
      </li>
    </ul>

    <ul class="section-start">
      <li class="spacer-right">
        <a href="http://startribune.com/">
          <i class="strib-icon strib-home"></i>
          <span class="sr-only">Star Tribune home</span>
        </a>
      </li>

      <li class="spacer-right">All sections</li>

      <li class="spacer-right">
        <a href="http://startribune.com/search">
          <i class="strib-icon strib-search"></i>
          <span class="sr-only">Search the Star Tribune</span>
        </a>
      </li>

      <li class="weekly-ads">
        <a href="http://startribune.com/weekly-ads">
          <img src="https://stmedia.stimg.co/weeklyAdsLabel.png" alt="Weekly ads label" />
        </a>
      </li>
    </ul>

    <ul class="section-end">
      <li class="spacer-right">
        <a href="http://startribune.com/login">
          <i class="strib-icon strib-person"></i>
          &nbsp;Log in
        </a>
      </li>

      <li class="align-end">
        <a href="http://startribune.com/signup">Subscriptions</a>
      </li>
    </ul>

  </div>
</nav>

<nav class="subnav-strib-site">
  <div class="container-lg">
    <ul>
      <li><a href="http://startribune.com/">Home</a></li>
      <li><a href="http://startribune.com/local/">Local</a></li>
      <li><a href="http://startribune.com/sports/">Sports</a></li>
      <li><a href="http://startribune.com/business/">Business</a></li>
      <li><a href="http://startribune.com/opinion/">Opinion</a></li>
      <li><a href="http://startribune.com/variety/">Variety</a></li>
      <li><a href="http://startribune.com/obituaries/">Obituaries</a></li>
      <li><a href="http://startribune.com/classifieds/">Classifieds</a></li>
      <li><a href="http://startribune.com/autos/">Autos</a></li>
      <li><a href="http://startribune.com/housing/">Housing</a></li>
      <li><a href="http://startribune.com/jobs/">Jobs</a></li>
    </ul>
  </div>
</nav>
